.collapse {
  overflow: inherit;
}

.top_menu ul.menu {
    float: left;
    margin: 0 0 25px 0;
}

.top_menu ul.menu li {
    border-right: 1px solid #CECECE;
    float: left;
    list-style: none outside none;
    position: relative;
}

.top_menu ul.menu li:last-child {
    border-right: none;
}

.top_menu ul.menu li a {
    font-size: 12px;
    margin: 0 10px;
    padding: 0;
    position: relative;
}

.main_menu ul.menu {
    float: left;
}

.main_menu ul.menu li {
    float: left;
    position: relative;
    list-style: none;
}

.main_menu ul.menu > li > a {
    font-size: 12px;
    margin: 0 10px;
    padding: 0 15px 50px;
    position: relative;
    text-transform: uppercase;
}

.main_menu ul.menu li a {
-webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}

.main_menu ul.menu > li > a {
    border-bottom: 2px solid transparent;
}

.main_menu ul.menu > li > a:hover {
    border-bottom: 2px solid #12ABFF;
}

.main_menu ul.menu > li.active > a {
    background-color: transparent;
    border-bottom: 2px solid #12ABFF;
    box-shadow: none;
    color: #000;
}

.main_menu ul.menu > li.active > a:hover {
    box-shadow: none;
    background-color: transparent;
}

.main_menu ul.menu > li a {
   display: block;
}

.main_menu ul.menu > li.parent span.arrow {
    background: url("../images/arrow.png") no-repeat scroll 0 7px transparent;
    height: 20px;
    right: -5px;
    position: absolute;
    width: 20px;
}

.main_menu ul.menu li ul li.parent span.arrow {
    background: url("../images/arrow.png") no-repeat scroll 0 bottom transparent;
    height: 15px;
    left: 84%;
    position: absolute;
    top: 9px;
    width: 20px;
}

.main_menu ul.menu li.parent ul,
.main_menu ul.menu li ul li.parent ul {
     background: #fff;
     border-left: 1px solid #d5d5d5;
     list-style: none;
     position: absolute; 
     float: left;
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
     width: 200px;
     z-index: 9999;
}

.main_menu ul.menu li.parent ul {
    left: 9px; 
    top: 70px;
    border-top: 2px solid #12ABFF;
}

.main_menu ul.menu li ul li.parent ul {
    left: 200px; 
    top: -3px;
}

.main_menu ul.menu li.parent ul li {
    margin: 0; 
    padding: 0;
 -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.05) inset;
   -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.05) inset;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.05) inset;
    border-bottom: 1px solid #EAEAEA;
    clear: both;
    width: 200px;
}

.main_menu ul.menu li.parent ul li:last-child {
    border-bottom: none; 
}

.main_menu ul.menu li.parent ul li a {
    float: left;
    padding: 7px 3px 7px 10px;
-webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
	width: 90%;
}

.main_menu ul.menu li.parent ul li a:hover {
    padding: 7px 3px 7px 15px;
}

.footer_menu ul.menu {
    float: left;
    margin: 0 0 15px 0;
}

.footer_menu ul.menu li {
    border-right: 1px solid #CECECE;
    float: left;
    list-style: none outside none;
    position: relative;
}

.footer_menu ul.menu li:last-child {
    border-right: none;
}

.footer_menu ul.menu li a {
    font-size: 12px;
    margin: 0 10px;
    padding: 0;
    position: relative;
}